<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>agenda</title>
		</head>
	<body>
	<header>
	<h1>Facultadad de Ingenieria</h1> 
	<img src="../static/images/calendario.jpg" alt="calendario2022" title="calendario_2022"    width="400">
	</header>
		<nav> 
		<li><a href="https://www.youtube.com/watch?v=DX83PlZ-yPU">Inicio</a></li>
		</nav> 
		<nav> 
		<li> <a href="https://www.youtube.com/watch?v=DX83PlZ-yPU">Agenda</a> </li>
		</nav>
		<nav> 
		<li> <a href="https://www.youtube.com/watch?v=DX83PlZ-yPU">Beneficios y Becas</a> </li>
		</nav>
		<nav> 
		<li> <a href="https://www.youtube.com/watch?v=DX83PlZ-yPU">Contáctanos</a> </li>
		</nav>
	<section>
	  <p>
	  Me llamo Yoshikage Kira. Tengo 33 años. Mi casa está al noroeste de Morioh, donde están las casas grandes y no estoy casado. Trabajo como empleado en el supermercado Kame Yu y llego a casa todos los días a más tardar a las 8:00 pm. No fumo y solo bebo en ocasiones. Duermo a las 11:00 pm y siempre procuro dormir ocho horas. Después de beber un vaso de leche tibia y hacer unos 20 minutos de calistenia antes de ir a la cama, suelo dormir hasta la mañana. Despierto sin fatiga ni estrés, como un bebé. En mi último chequeo, me dijeron que estoy sano.
	  </p>
	</section>
	<video controls>
	<source src="../static/Videos/perro.mp4" width="400" type="video/mp4">              
	</video>
		<footer>2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 999999 S. S. de Jujuy República
Argentina.</footer>
	</body>
</html>